/* Default to no padding */
ul, li {
  border: 0px;
  margin: 0px;
  padding: 0px;
}

article {
  margin: auto;
  width: 80%;
}

article:before {
  content: "";
  position: fixed;
  top: 5%;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  background-image: url(../Graphics/character2.png);
  background-size: 100%;
  background-repeat: no-repeat;
  opacity: 0.07;
}

body {
  background-color: rgba(240,240,240, 1);
  /*
  background-color: rgba(220,220,220, 1);
  */
  color: rgb(24, 24, 43);
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.1em;
  font-weight: 450;
  position: flex;
  justify-content: center;
}

header {
  align-items: center;
  color: darkred;
  display: flex;
  font-size: 2em;
  font-weight: bolder;
  justify-content: flex-start;
}

.blackUnderline {
  text-decoration: black underline;
}

.bold {
  font-weight: bold;
}

.explosions {
  color: red;
  font-weight: bolder;
}

.floatRight {
  float: right;
}

.logo {
  margin-right: 20px;
}

.medImage {
  width: 20%;
}

.strikethrough {
  text-decoration: line-through;
}

/* Menu styles */
/* Any unordered list in the nav element */
nav {
  margin: auto;
  width: 80%;
}

nav ul {
  background-color: rgba(220,220,220, 0);
  list-style: none;
}

/* any unordered list item in the nav element */
nav ul li {
  background-image: linear-gradient(to bottom right, rgb(240,240,240), rgb(210,210,210));
  border-color: rgb(210, 190, 190);
  border-style: solid;
  border-width: 0 0 1px 0;
  display: inline-block;
  margin-right: 5em;
}

/*... and format the link as well */
nav ul li a:hover {
  /*color: rgb(240, 240, 240);*/
  text-shadow: -2px -2px #CCCCCC;
}

nav a {
  color: darkred;
  font-size: 1.2em;
  font-weight: bolder;
  padding: 5px;
  text-decoration: darkred;
}

/* Style the link for the current page to permit the user to know where they are 
  darkred = #8B0000 = rgb(139, 0, 0)
*/
nav ul li.activePage {
  background-image: linear-gradient(to bottom right, rgb(255,70,70),rgb(139,0,0));
  border-color: darkred;
}

nav ul li.activePage a {
  color: rgb(210, 210, 210);
  cursor: default;
}

nav ul li.activePage a:hover {
  /*color: rgb(240, 240, 240);*/
  text-shadow: none;
}