ul li {
  border: 0;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgba(220,220,220, 1);
  color: rgb(24, 24, 43);
  font-family: 'Courier New', Courier, monospace;
  font-size: 14;
  font-weight: 400;
}

body:before {
  content: "";
  position: fixed;
  top: 0;
  bottom: 0;
  left: -100px;
  right: 0;
  z-index: -1;
  background-image: url(../Graphics/character2.png);
  opacity: 0.07;
}

header {
  align-items: center;
  color: darkred;
  display: flex;
  font-size: 2em;
  font-weight: bolder;
  justify-content: center;  
}

.blackUnderline {
  text-decoration: black underline;
}

.bold {
  font-weight: bold;
}

.explosions {
  color: red;
  font-weight: bolder;
}

.floatRight {
  float: right;
}

.logo {
  margin-right: 20px;
}

.mainContent {
  display: inline-block;
  width: 80%;
}

.medImage {
  width: 20%;
}

.strikethrough {
  text-decoration: line-through;
}

/* Menu styles */
nav ul {
  background-color: rgba(220,220,220, 0);
  list-style: none;
}

nav a {
  text-decoration: none;
}