body {
  background-color: rgba(220,220,220);
  color: rgb(24, 24, 43);
  font-family: 'Courier New', Courier, monospace;
  font-size: 14;
  font-weight: 400;
}

body:before {
  content: "";
  position: fixed;
  top: 0;
  bottom: 0;
  left: -100px;
  right: 0;
  z-index: -1;
  background-image: url(../Graphics/character2.png);
  opacity: 0.07;
}

div {
  opacity: 1;

}

header {
  color: darkred;
  font-size: 2em;
  font-weight: bolder;
  text-align: center;  
}

.blackUnderline {
  text-decoration: black underline;
}

.bold {
  font-weight: bold;
}

.explosions {
  color: red;
  font-weight: bolder;
}

.floatRight {
  float: right;
}

.leftMenu {
  border-color: rgb(24, 24, 43);
  border-style: solid;
  border-width: 0px 3px 0px 0px;
  float: left;
  margin: 10px 20px 10px 10px;
  min-width: 200px;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  text-align: center;
  top: 0;
  width: 15%;
}

.leftMenuButton {
  background-color: darkred;
  border-radius: 10px;
  color: rgb(220, 220, 220);
  display: inline-block;
  font-weight: bold;
  height: 2em;
  line-height: 2em;
  text-decoration: none;
  width: 80%;
  vertical-align: center;
}

/*TODO: add hover and active effects to buttons*/
.leftMenuButton:hover {
  background-color: red;
}

.leftMenuButton:active {

}

.leftMenuHeader {
  color: darkred;
  font-size: 1.5em;
  font-weight: bold;
}

.mainContent {
  display: inline-block;
  width: 80%;
}

.medImage {
  width: 20%;
}

.strikethrough {
  text-decoration: line-through;
}