/*Begin nav section*/

nav { /*Issues: if any edge scrolling does happen, the menu will not extend.*/
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  border-radius: 0px 0px 10px 10px;
  margin: -8px -8px 8px -8px;   /* Extend nav x margin pos beyond parent to edge of screen. */
  overflow-x: hidden; /*disable overflow edge scrolling*/
  box-shadow: 0px 2px 2px black;
}

nav ul {
  list-style-type: none;
  overflow: hidden;
  margin: 0px auto;
  padding: 0px;
  border: 0px;
  top: 0;
  left: 0;
  background-color: darkred; 
  background-size: cover;
}

nav ul li{
  float: left;
}

nav ul li a{
  display: block;
  padding: 8px 12px;
  border-right: 0.5px solid black;
  border-left: 0.5px solid black;
}

/*End nav section*/

body {
  background-color: rgba(220,220,220);
  color: rgb(24, 24, 43);
  font-family: 'Courier New', Courier, monospace;
  font-size: 14;
  font-weight: 400;
}

body:before {
  content: "";
  position: fixed;
  top: 0;
  bottom: 0;
  left: -100px;
  right: 0;
  z-index: -1;
  background-image: url(../Graphics/character2.png);
  opacity: 0.07;
} 

div {
  opacity: 1;
}

header {
  align-items: center;
  color: darkred;
  display: flex;
  font-size: 2em;
  font-weight: bolder;
  justify-content: center;  
}

.blackUnderline {
  text-decoration: black underline;
}

.bold {
  font-weight: bold;
}

.explosions {
  color: red;
  font-weight: bolder;
}

.floatRight {
  float: right;
}

.menuButton {
  background-color: darkred;
  color: rgb(220, 220, 220);
  font-weight: bold;
  height: 2em;
  line-height: 2em;
  text-decoration: none;
  width: 80%;
  vertical-align: center;
}

/*TODO: add hover and active effects to buttons*/
.menuButton:hover {
  background-color: red;
}

.menuButton:active {
  background-color: orange;
}

.logo {
  margin-right: 20px;
}

.mainContent {
  display: inline-block;
  width: 80%;
}

.medImage {
  width: 20%;
}

.strikethrough {
  text-decoration: line-through;
}